<!-- Create a trigger which will be used by the JavaScript -->
<button id="dialog-show-button" class="aui-button aui-button-primary">Create lunch</button>

<!-- Render the dialog -->
<section role="dialog" id="demo-dialog" class="aui-layer aui-dialog2 aui-dialog2-medium" aria-hidden="true">
    <!-- Dialog header -->
    <header class="aui-dialog2-header">
        <!-- The dialog's title -->
        <h2 class="aui-dialog2-header-main">Create lunch</h2>
        <!-- Close icon -->
        <a class="aui-dialog2-header-close">
            <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Close</span>
        </a>
    </header>
    <!-- Main dialog content -->
    <div class="aui-dialog2-content">
        <form class="aui" action="/event/create" method="post">
            <div class="field-group">
                <label for="dBase">Cuisine<span class="aui-icon icon-required">required</span></label>
                <select class="select" id="dBase" name="cuisine" title="database select">
                    <option>Select</option>
                    <option>Thai</option>
                    <option>Pizza</option>
                    <option>Burgers</option>
                    <option>Mexican</option>
                </select>
            </div>
            <div class="field-group">
                <label for="text-input">Meeting place<span class="aui-icon icon-required">required</span></label>
                <input class="text" type="text" id="d-fname" name="meet_loc" title="first name">
            </div>

            <div class="field-group">
                <label for="dBase">Meeting time<span class="aui-icon icon-required">required</span></label>
                <div class="time-part">
                    <select class="select" id="dBase" name="hours" title="database select">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                    </select>
                </div>    
                <div class="time-part leading-colon">                                                           
                    <select class="select" id="dBase" name="minutes" title="database select">
                        <option>00</option>
                        <option>15</option>
                        <option>30</option>
                        <option>45</option>
                    </select>
                </div>
                         
                <div class="time-part">                           
                    <select class="select" id="dBase" name="ampm" title="database select">
                        <option>am</option>
                        <option>pm</option>
                    </select>
                </div>
            </div>

            <fieldset>
                <legend><span>Description</span></legend>
                <div class="field-group">
                    <label for="textarea-id">Description</label>
                    <textarea class="textarea" name="description" id="textarea-id"></textarea>
                </div>
            </fieldset>
    </div>
    <!-- Dialog footer -->
    <footer class="aui-dialog2-footer">
        <!-- Actions to render on the right of the footer -->
        <div class="aui-dialog2-footer-actions">
            <input class="aui-button aui-button-primary" type="submit" value="Create" id="comment-save-button" />
            <button id="dialog-close-button" class="aui-button aui-button-link">Cancel</button>
        </div>
    </footer>
    </form>
</section>

<script>
// Shows the dialog when the "Show dialog" button is clicked
AJS.$("#dialog-show-button").click(function() {
    AJS.dialog2("#demo-dialog").show();
});

// Hides the dialog
AJS.$("#dialog-close-button").click(function(e) {
e.preventDefault();
    AJS.dialog2("#demo-dialog").hide();
});
</script>
