<div class="our-aui-item">
    <div class="our-aui-message">
        <p class="title">
            <strong>{{cuisine}}</strong>
        </p>
        <p>{{meet_loc}} @ {{meet_time}}</p>
        <div class="button-container">
          <input class="our-aui-button our-aui-button-primary" type="submit" value="Join" id="comment-save-button
        " />
        </div>
    </div><!-- .aui-message -->
  </div>
