<html>
    <head>
        <link rel="stylesheet" href="static/aui/css/aui.min.css" media="all">
        <link rel="stylesheet" href="static/aui/css/aui-experimental.min.css" media="all">
        <link rel="stylesheet" href="static/font-awesome-4.2.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="static/css/style.css">
        <script src="static/jquery/jquery-2.1.3.min.js"></script>
        <script src="static/aui/js/aui.min.js"></script>
        <script src="static/aui/js/aui-experimental.min.js"></script>
        <script src="static/aui/js/aui-soy.min.js"></script>
    </head>

    <body>
        <header id="header" role="banner">
        <!-- App Header goes inside #header -->
            <nav class="aui-header aui-dropdown2-trigger-group" role="navigation">
              <div class="aui-header-primary">
                  <h1 id="logo" class="aui-header-logo aui-header-logo-cutlery"><a href="index.html">Lunch Roulette<span class="aui-header-logo-device">Lunch Roulette</span></a></h1>
              </div>
            </nav>
        <!-- App Header goes inside #header -->
        </header>

        <section id="content" role="main" ng-controller="TogglePanelCtrl" class="ng-scope"> <header class="aui-page-header">
            <div class="user">You are logged in as <div id="username">{{username}}</div> <div id="email">{{email}}</div></div>
            {{> createlunch}}
            <button class="aui-button aui-button-primary">I'm Feeling Lucky</button>
            <div class="our-aui-group">
            {{#each events}}
              {{> event}}
            {{/each}}
            </div>
        </header></section>
        
    </body>
</html>
