<form class="aui" action="/signin" method="post">

    <div class="field-group">
        <label for="text-input">Email<span class="aui-icon icon-required">required</span></label>
        <input class="text medium-field" type="text" id="email1" name="email" title="email" placeholder="you@example.com">
    </div>

    <div class="field-group">
        <label for="text-input">Password<span class="aui-icon icon-required">required</span></label>
        <input class="password" type="password" id="password1" name="password" title="password">
    </div>
</form>