.our-aui-group {
	margin: 10px 0 0 0;
	display: table;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}

.our-aui-group > .our-aui-item > h1:first-child,
.our-aui-group > .our-aui-item > h2:first-child,
.our-aui-group > .our-aui-item > h3:first-child,
.our-aui-group > .our-aui-item > h4:first-child,
.our-aui-group > .our-aui-item > h5:first-child,
.our-aui-group > .our-aui-item > h6:first-child {
  margin-top: 20px;
}

.our-aui-group > .our-aui-item {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table-cell;
  margin: 0;
  vertical-align: top;
}
.our-aui-group > .our-aui-item + .our-aui-item {
  padding-left: 20px;
}
/* defensive header allowance */
.our-aui-layout .our-aui-group > header {
  display: table-caption;
}

.our-aui-message {
	background: #ffffff;
  border: 1px solid #3572b0;
  border-radius: 3px;
  color: #333333;
  margin: 20px 0 0 0;
  position: relative;
  padding: 5px;
  float: left;
}

.our-aui-button {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 3.01px;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  font-variant: normal;
  font-weight: normal;
  height: 2.14285714em;
  /* 30px - using ems so the fields increase in line with user specified font-sizes */
  line-height: 1.42857143;
  /* 20px */
  margin: 0;
  padding: 4px 10px;
  text-decoration: none;
  vertical-align: baseline;
  white-space: nowrap;
  float: right;
}

/* Primary Buttons */
.our-aui-button.our-aui-button-primary {
  background: #3572b0;
  border-color: transparent;
  color: #ffffff;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  /* for chrome on mac */
}

.button-container {
	padding-top: 10px;
}

.aui-header .aui-header-logo-cutlery .aui-header-logo-device {
  background-image: url("../images/cutlery.png");
  width: 36px;
}

.our-message {
  background: #ffffff;
  border: 1px solid #3572b0;
  border-radius: 3px;
  color: #333333;
  margin: 20px 0 0 0;
  position: relative;
}

/* Message titles */
.our-aui-message p.title {
  font-weight: bold;
}
/* IE double bolds otherwise... */
.our-aui-message p.title strong {
  font-weight: inherit;
}

.time-part {
	display: inline-block;
	vertical-align: text-bottom;
}

.leading-colon {
	padding-left: 5px;
	position: relative;
}

.leading-colon:before {
	content: ':';
	display: block;
	position: absolute;
	top: 3px;
	left: 0;
}